LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHz;

LOCATE COMP "WS" SITE "D1";
IOBUF PORT "WS" IO_TYPE=LVCMOS33;

LOCATE COMP "SD" SITE "C2";
IOBUF PORT "SD" IO_TYPE=LVCMOS33;

LOCATE COMP "SCK" SITE "E3";
IOBUF PORT "SD" IO_TYPE=LVCMOS33;

LOCATE COMP "LED0" SITE "G20";
IOBUF PORT "LED0" IO_TYPE=LVCMOS33;

LOCATE COMP "LED1" SITE "K20";
IOBUF PORT "LED1" IO_TYPE=LVCMOS33;

LOCATE COMP "LED2" SITE "L20";
IOBUF PORT "LED2" IO_TYPE=LVCMOS33;

LOCATE COMP "LED3" SITE "N18";
IOBUF PORT "LED3" IO_TYPE=LVCMOS33;

LOCATE COMP "LED4" SITE "J20";
IOBUF PORT "LED4" IO_TYPE=LVCMOS33;

LOCATE COMP "LED5" SITE "L18";
IOBUF PORT "LED5" IO_TYPE=LVCMOS33;

LOCATE COMP "LED6" SITE "M18";
IOBUF PORT "LED6" IO_TYPE=LVCMOS33;

LOCATE COMP "LED7" SITE "N17";
IOBUF PORT "LED7" IO_TYPE=LVCMOS33;