LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 Mhz;

LOCATE COMP "M_LRSEL" SITE "E2";
IOBUF PORT "M_LRSEL" IO_TYPE=LVCMOS33;

LOCATE COMP "M_DATA" SITE "B1";
IOBUF PORT "M_DATA" IO_TYPE=LVCMOS33;

LOCATE COMP "M_CLK" SITE "A3";
IOBUF PORT "M_CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "miso" SITE "C18";
IOBUF PORT "miso" IO_TYPE=LVCMOS33;

LOCATE COMP "mosi" SITE "T18";
IOBUF PORT "mosi" IO_TYPE=LVCMOS33;

LOCATE COMP "sck" SITE "L2";
IOBUF PORT "sck" IO_TYPE=LVCMOS33;

LOCATE COMP "cs" SITE "K18";
IOBUF PORT "cs" IO_TYPE=LVCMOS33;

LOCATE COMP "LED0" SITE "G20";
IOBUF PORT "LED0" IO_TYPE=LVCMOS33;

LOCATE COMP "LED1" SITE "K20";
IOBUF PORT "LED1" IO_TYPE=LVCMOS33;

LOCATE COMP "LED2" SITE "L20";
IOBUF PORT "LED2" IO_TYPE=LVCMOS33;

LOCATE COMP "LED3" SITE "N18";
IOBUF PORT "LED3" IO_TYPE=LVCMOS33;

LOCATE COMP "LED4" SITE "J20";
IOBUF PORT "LED4" IO_TYPE=LVCMOS33;

LOCATE COMP "LED5" SITE "L18";
IOBUF PORT "LED5" IO_TYPE=LVCMOS33;

LOCATE COMP "LED6" SITE "M18";
IOBUF PORT "LED6" IO_TYPE=LVCMOS33;

LOCATE COMP "LED7" SITE "N17";
IOBUF PORT "LED7" IO_TYPE=LVCMOS33;